/* Navbar Section */

.navbar {
  width: 100%;
  background-color: var(--nav-bar-color);
  color: #fff;
  padding: 20px 0;
  position: absolute;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  margin: 0;
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.navLinks li {
  margin-right: 20px;
}

.navLinks li:last-child {
  margin-right: 0;
}

.navLinks a {
  color: var(--nav-bar-text-color);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  background-color: grey;
}

/* Hamburger Menu */

.menuIcon {
  display: none; /* Hide by default on larger screens */
  cursor: pointer;
  position: relative;
}

/* Hamburger Menu styling */
.icon {
  width: 35px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  margin: 6px 0;
  transition: all 400ms ease-in-out;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  transition: transform 400ms ease-in-out;
}

.icon::before {
  transform: translateY(10px);
}

.icon::after {
  transform: translateY(-10px);
}

.menuIcon.active .icon {
  background-color: transparent;
}

.menuIcon.active .icon::after {
  transform: rotate(45deg); /* Rotate lines when menu is active */
}

.menuIcon.active .icon::before {
  transform: rotate(-45deg); /* Rotate lines when menu is active */
}

/* Show the navigation links when the menu is open */
@media (max-width: 800px) {
  .navLinks {
    display: none;
  }

  .navLinks.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
  }

  .navLinks.show li {
    margin: 10px 0;
  }

  .menuIcon {
    display: block; /* Show the hamburger icon on smaller screens */
  }
}
